body {
  min-height: 100vh;
}

.file-upload {
  position: relative;
  min-height: 150px;
}

.file-upload input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#route-map {
  min-height: 400px;
}

#routeName {
  padding-right: 30px;
}

.map-label {
  position: absolute;
  bottom: 0;
  left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.map-label-content {
  order: 1;
  position: relative;
  left: -50%;
  background-color: #fff;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  padding: 3px;
  white-space: nowrap;
}

.map-label-arrow {
  order: 2;
  width: 0px;
  height: 0px;
  left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px;
  margin-left: -6px;
}

.input-feedback {
  width: 20px;
  margin: -1.7rem 10px;
  float: right;
}

.input-group-text {
  width: 5.3rem;
}
