<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta
      name="Description"
      content="Browser based application to convert a GPX route into a FIT course for Garmin Edge"
    />
    <title>FIT Route Converter</title>
    <link rel="icon" href="images/logo-32.png" sizes="32x32" />
    <link rel="icon" href="images/logo-96.png" sizes="96x96" />
    <link rel="icon" href="images/logo-128.png" sizes="128x128" />
    <link rel="icon" href="images/logo-192.png" sizes="192x192" />
    <link rel="icon" href="images/logo-228.png" sizes="228x228" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha384-VzLXTJGPSyTLX6d96AxgkKvE/LRb7ECGyTxuwtpjHnVWVZs2gp5RDjeM/tgBnVdM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
      integrity="sha384-t17w2haSDwLp3KSAOHF7+VI9q2maRMLDhnIyU/JasjeWyxcN3YOcrD7T95CiJSWE"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/fit-route.css" />
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand">
        <img class="rounded mr-1" src="images/logo-32.png" width="24" height="24" alt="" />
        FIT Route Converter
      </div>
      <div class="navbar-nav nav-link ml-auto">
        <a
          href="https://www.pyrites.org.uk/post/gpx-to-fit-conversion/"
          target="_blank"
          rel="noopener"
          title="Blog"
          class="text-light"
        >
          <i class="fas fa-blog"></i>
        </a>
      </div>
      <div class="navbar-nav nav-link">
        <a href="https://twitter.com/TechWrangler" target="_blank" rel="noopener" title="Twitter" class="text-light">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="navbar-nav nav-link">
        <a
          href="https://gitlab.com/nwholloway/fit-route"
          target="_blank"
          rel="noopener"
          title="GitLab"
          class="text-light"
        >
          <i class="fab fa-gitlab"></i>
        </a>
      </div>
    </nav>

    <main role="main" id="main" class="flex-grow-1 d-flex flex-column">
      <div v-if="showInfo" class="container-fluid p-3">
        <p>
          <span>A browser based application to convert a GPX file into a FIT file.</span>
        </p>
        <ul>
          <li>
            Select the GPX file to be converted
          </li>
          <li>
            View the route on a map, along with the key statistics
          </li>
          <li>
            Amend the average speed to your desired value
          </li>
          <li>
            Download will save the course as a FIT file
          </li>
          <li>
            Connect Garmin as USB device, and place the FIT file in
            <span class="text-monospace">\GARMIN\NEWFILES</span>
          </li>
        </ul>
        <p>
          <span>
            I developed this to simplify the task of converting a GPX for an event into a course I could follow on my
            Garmin Edge 25.
          </span>
          <span>
            Although there are route planning sites that will perform the conversion, I found the results very variable.
          </span>
          <span>
            I also wanted to see if I could generate the binary file format using JavaScript within the browser.
          </span>
        </p>
        <p>
          <span>Your data never leaves your computer as all processing is performed within your browser.</span>
          <span>You do not need to register to use this application.</span>
          <span>There are no adverts, no cookies, no use of local storage, or service workers.</span>
          <span>
            The source can be cloned from
            <a href="https://gitlab.com/nwholloway/fit-route" class="text-muted">GitLab</a>
          </span>
          .
        </p>
        <p>
          <span>
            The application works with the current versions of Chrome, Firefox and Safari. Edge started working with
            version 79.
          </span>
        </p>
        <noscript>
          <div class="alert alert-danger">
            This application requires a browser with JavaScript enabled, supporting ES modules and object spread
            properties
          </div>
        </noscript>
      </div>
      <div v-if="error" class="container">
        <error-message :message="error"></error-message>
      </div>
      <fit-route @show-info="onShowInfo" @error="onError" class="flex-grow-1"></fit-route>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"
      integrity="sha384-OZmxTjkv7EQo5XDMPAmIkkvywVeXw59YyYh6zq8UKfkbor13jS+5p8qMTBSA1q+F"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha384-RFZC58YeKApoNsIbBxf4z6JJXmh+geBSgkCQXFyh+4tiFSJmJBt+2FbjxW7Ar16M"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"
      integrity="sha384-btJhAWztz7ttA6ibFC5ppM39nkCPK6CWzRVmsaLcDn37mA3x1TzF1DbFwa6tJpTN"
      crossorigin="anonymous"
      defer
    ></script>
    <script nomodule type="text/javascript" src="js/unsupported.js" defer></script>
    <script type="module" src="js/spreadcheck.js"></script>
    <script type="module" src="js/app.js"></script>

    <script type="text/x-template" id="error-message-template">
      <div role="alert" class="alert alert-danger">{{ message }}</div>
    </script>

    <script type="text/x-template" id="empty-template"></script>

    <script type="text/x-template" id="file-upload-template">
      <form enctype="multipart/form-data" novalidate>
        <div class="file-upload d-flex justify-content-center align-items-center border bg-light w-75 mx-auto">
          <input v-if="!file" type="file" title=" " aria-label="Select GPX" accept=".gpx,application/gpx+xml,application/octet-stream" @change="onFilesChange($event.target.files)">
          <div v-if="!file" class="h4 font-weight-normal">
            Drop GPX here or click to browse
          </div>
          <div v-else d-flex justify-content-center align-items-center>
            <div class="text-center">{{ file.name }}</div>
            <div class="d-flex justify-content-around">
              <button type="button" class="btn btn-secondary m-2" @click.prevent="onCancel">Cancel</button>
              <button type="button" class="btn btn-primary m-2" @click.prevent="onSubmit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </script>

    <script type="text/x-template" id="fit-route-template">
      <div class="container-fluid d-flex flex-column">
        <template v-if="!gpxFile">
          <file-upload @submit="onFileUpload"></file-upload>
        </template>
        <template v-if="route">
        <div class="row flex-grow-1">
          <div class="col-auto bg-light">
            <form novalidate>
              <div>
                <div class="btn-groupx btn-group-toggle d-flex justify-content-center py-3">
                  <label class="btn btn-info w-25 mx-1" :class="{ active: units == 'km' }">
                    <input type="radio" value="km" v-model="units"> km
                  </label>
                  <label class="btn btn-info w-25 mx-1" :class="{ active: units == 'miles' }">
                    <input type="radio" value="miles" v-model="units"> miles
                 </label>
                </div>
              </div>
            </form>

            <route-info :route="route" :units="units" @name="setName" @duration="setDuration"></route-info>
            <div>
              <div class="d-flex justify-content-around">
                <button class="btn btn-secondary m-2" @click="onClear">Clear</button>
                <button class="btn btn-primary m-2" @click="onFitDownload">Download as FIT</button>
              </div>
              <a ref="downloadAnchor" class="d-none" download="COURSE.fit" href="#"></a>
            </div>
          </div>
          <div class="col p-0 border">
            <route-map :route="route" :units="units"></route-map>
          </div>
        </div>
      </template>
      </div>
    </script>

    <script type="text/x-template" id="route-info-template">
      <form novalidate>
        <div class="d-flex flex-column">
          <div class="form-group">
            <label for="routeName">Name</label>
            <input id="routeName" type="text" v-model="routeName" @keydown.enter.prevent class="form-control text-info" data-lpignore="true">
            <i v-if="routeNameTooLong" class="fas fa-exclamation-triangle text-warning input-feedback" title="Name will be truncated on Garmin device" aria-hidden="true"></i>
          </div>

          <div class="form-group">
            <label for="distance">Distance</label>
            <div class="input-group">
              <input id="distance" type="text" v-model="distance" readonly class="form-control text-info bg-light">
              <div class="input-group-append">
                <span class="input-group-text">{{ units }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="speed">Average Speed</label>
            <div class="input-group">
              <input id="speed" type="text" v-model="avgSpeedField" class="form-control text-info" data-lpignore="true">
              <div class="input-group-append">
                <span class="input-group-text">{{ speedUnits }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="time">Goal Time</label>
            <div class="input-group">
              <input id="time" type="text" v-model="goalTime" readonly class="form-control text-info bg-light">
              <div class="input-group-append">
                <span class="input-group-text">h:mm:ss</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </script>

    <script type="text/x-template" id="route-map-template">
      <div id="route-map" class="bg-light h-100"></div>
    </script>
  </body>
</html>
